/* 导入 reset.css */
@import "./reset.css";
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #291826;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --underline-progress: 1;

  /* --theme-font: Smiley Sans; */
  --theme-font: Helvetica, "方正兰亭黑 Medium", "黑体";
  --theme-font-regular: Helvetica, "方正兰亭黑 Regular", "黑体";
  --theme-font-regular-italic: Helvetica, "方正兰亭黑 Regular Italic", "黑体";

  --pink-bg: linear-gradient(
    90deg,
    hsl(0deg 100% 92%) 0%,
    hsl(295deg 100% 97%) 100%
  );
}

#app {
  height: 100vh;
  overflow: hidden scroll;
  font-family: var(--theme-font);
}

.bg-card {
  background-color: #ffffff99 !important;
  backdrop-filter: blur(10px) !important;
}

iframe {
  mix-blend-mode: darken;
}
